.conflitos-entre-geracoes-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.conflitos-entre-geracoes-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.22);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c70d05;
}
.conflitos-entre-geracoes-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.conflitos-entre-geracoes-heading {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Arvo;
  text-decoration: none;
}
.conflitos-entre-geracoes-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.conflitos-entre-geracoes-link {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.conflitos-entre-geracoes-link01 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.conflitos-entre-geracoes-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.conflitos-entre-geracoes-icon {
  width: 8px;
  height: 8px;
}
.conflitos-entre-geracoes-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.conflitos-entre-geracoes-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.conflitos-entre-geracoes-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conflitos-entre-geracoes-icon2 {
  width: 24px;
  height: 24px;
}
.conflitos-entre-geracoes-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.conflitos-entre-geracoes-link02 {
  margin-bottom: var(--dl-space-space-unit);
}
.conflitos-entre-geracoes-link03 {
  margin-bottom: var(--dl-space-space-unit);
}
.conflitos-entre-geracoes-link04 {
  margin-bottom: var(--dl-space-space-unit);
}
.conflitos-entre-geracoes-container2 {
  width: 100%;
  height: 697px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 2.00%,rgba(0, 0, 0, 0.3) 100.00%),url('https://lh3.google.com/u/2/d/1naJ64esAmpZR_36X-inVWvq8d8Y9fJrw=w2559-h812-iv1');
  background-position: center;
}
.conflitos-entre-geracoes-container3 {
  width: 100%;
  height: 697px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.conflitos-entre-geracoes-text {
  top: 18%;
  left: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 5%;
}
.conflitos-entre-geracoes-text01 {
  left: 97px;
  color: rgb(255, 255, 255);
  bottom: 7%;
  position: absolute;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0%;
}
.conflitos-entre-geracoes-link06 {
  display: contents;
}
.conflitos-entre-geracoes-rectangle3 {
  right: 16px;
  width: 50px;
  bottom: 12%;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 28px;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/external/rectangle31345-pk4-200h.png");
  background-position: center;
}
.conflitos-entre-geracoes-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 45%;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.conflitos-entre-geracoes-link07 {
  display: contents;
}
.conflitos-entre-geracoes-rectangle31 {
  right: var(--dl-space-space-tenunits);
  width: 50px;
  bottom: 12%;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 28px;
  background-size: cover;
  justify-content: flex-end;
  text-decoration: none;
  background-image: url("public/external/rectangle31345-pk4-200h.png");
  background-position: center;
}
.conflitos-entre-geracoes-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 45%;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.conflitos-entre-geracoes-text02 {
  color: rgb(255, 255, 255);
  right: var(--dl-space-space-doubleunit);
  width: 60%;
  bottom: 7%;
  height: 20px;
  position: absolute;
  text-align: right;
  font-weight: 300;
  margin-bottom: 0%;
}
.conflitos-entre-geracoes-rectangle32 {
  left: 16px;
  width: 52px;
  bottom: 5%;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  justify-content: center;
  background-image: url('https://lh3.google.com/u/2/d/1RF5gSPJtiFNXCbVqnapm0qFN9i6gf3dW=w2560-h884-iv1');
  background-position: center;
}
.conflitos-entre-geracoes-text03 {
  top: 153px;
  left: 24px;
  color: rgb(255, 255, 255);
  width: auto;
  position: absolute;
  font-size: 56px;
  text-align: left;
  font-family: Arvo;
  font-weight: 400;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.conflitos-entre-geracoes-features {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px0;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
}
.conflitos-entre-geracoes-text04 {
  color: var(--dl-color-light_textcolor-body1);
  width: 100%;
  height: auto;
  font-size: 20px;
  max-width: var(--dl-size-size-maxcontent);
  align-self: auto;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  line-height: 150%;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.conflitos-entre-geracoes-hero {
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  max-width: 1400px;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.conflitos-entre-geracoes-image2 {
  width: 391px;
  height: 456px;
  margin: 5%;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: 5%;
}
.conflitos-entre-geracoes-container4 {
  flex: 0 0 auto;
  width: 551px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.conflitos-entre-geracoes-text15 {
  font-size: 48px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.22;
  margin-bottom: 2%;
  text-transform: none;
  text-decoration: none;
}
.conflitos-entre-geracoes-container5 {
  width: 795px;
  display: flex;
  margin-left: 0px;
  flex-direction: column;
}
.conflitos-entre-geracoes-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.conflitos-entre-geracoes-button {
  width: 180px;
  height: 52px;
  display: flex;
  padding: 18px 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: var(--dl-space-space-unit);
  border-radius: 28px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-padro);
}
.conflitos-entre-geracoes-image3 {
  width: 15%;
  align-self: center;
  object-fit: cover;
}
.conflitos-entre-geracoes-text19 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  line-height: 120%;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0;
  margin-bottom: 0;
}
.conflitos-entre-geracoes-button1 {
  width: 180px;
  height: 52px;
  display: flex;
  padding: 18px 24px;
  align-items: center;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  border-color: transparent;
  border-radius: 28px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-padro);
}
.conflitos-entre-geracoes-image4 {
  width: 15%;
  align-self: center;
  object-fit: cover;
}
.conflitos-entre-geracoes-text20 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  line-height: 120%;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0;
  margin-bottom: 0;
}
.conflitos-entre-geracoes-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.conflitos-entre-geracoes-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.conflitos-entre-geracoes-footer1 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: stretch;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.conflitos-entre-geracoes-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.conflitos-entre-geracoes-container7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.conflitos-entre-geracoes-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.conflitos-entre-geracoes-image5 {
  width: 30%;
  height: auto;
  object-fit: cover;
}
.conflitos-entre-geracoes-text21 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  font-family: Arvo;
}
.conflitos-entre-geracoes-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.conflitos-entre-geracoes-container8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.conflitos-entre-geracoes-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.conflitos-entre-geracoes-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.conflitos-entre-geracoes-link08 {
  display: contents;
}
.conflitos-entre-geracoes-icon4 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.conflitos-entre-geracoes-link09 {
  display: contents;
}
.conflitos-entre-geracoes-icon6 {
  width: 32px;
  height: 32px;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  text-decoration: none;
}
.conflitos-entre-geracoes-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
}
.conflitos-entre-geracoes-text22 {
  align-self: flex-start;
}
@media(max-width: 1200px) {
  .conflitos-entre-geracoes-heading {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: Arvo;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-link {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-link01 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-text {
    color: rgb(255, 255, 255);
  }
  .conflitos-entre-geracoes-rectangle31 {
    right: var(--dl-space-space-tenunits);
  }
  .conflitos-entre-geracoes-text02 {
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 300;
  }
  .conflitos-entre-geracoes-text03 {
    top: 153px;
    color: rgb(255, 255, 255);
    right: 0px;
    font-size: 40px;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-text04 {
    color: var(--dl-color-light_textcolor-body1);
  }
  .conflitos-entre-geracoes-image2 {
    width: 378px;
    height: 443px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .conflitos-entre-geracoes-text15 {
    text-transform: none;
  }
  .conflitos-entre-geracoes-container5 {
    width: 551px;
  }
  .conflitos-entre-geracoes-btn-group {
    width: 369px;
  }
}
@media(max-width: 991px) {
  .conflitos-entre-geracoes-navbar-container {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  }
  .conflitos-entre-geracoes-navbar {
    background-color: #C70D05;
  }
  .conflitos-entre-geracoes-heading {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: inherit;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-link01 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-heading1 {
    text-align: center;
  }
  .conflitos-entre-geracoes-container2 {
    width: 100%;
    height: 642px;
    padding: var(--dl-space-space-fourunits);
  }
  .conflitos-entre-geracoes-container3 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .conflitos-entre-geracoes-text {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: 1;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .conflitos-entre-geracoes-text01 {
    left: 70px;
    color: rgb(255, 255, 255);
    width: auto;
    bottom: 5%;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .conflitos-entre-geracoes-rectangle3 {
    bottom: 12%;
  }
  .conflitos-entre-geracoes-rectangle31 {
    bottom: 12%;
  }
  .conflitos-entre-geracoes-text02 {
    top: 525px;
    color: rgb(255, 255, 255);
    width: 50%;
    bottom: 5%;
    font-size: 12px;
    font-style: normal;
    text-align: right;
    font-family: Inter;
    font-weight: 300;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .conflitos-entre-geracoes-rectangle32 {
    width: 45px;
    bottom: 3%;
    height: 45px;
  }
  .conflitos-entre-geracoes-text03 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.22;
    margin-bottom: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-features {
    height: auto;
    padding-bottom: 0px;
  }
  .conflitos-entre-geracoes-text04 {
    color: var(--dl-color-light_textcolor-body1);
    font-size: 18px;
    line-height: 150%;
  }
  .conflitos-entre-geracoes-hero {
    padding: 48px;
    flex-direction: column;
  }
  .conflitos-entre-geracoes-image2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .conflitos-entre-geracoes-text15 {
    font-size: 42px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-container5 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .conflitos-entre-geracoes-button {
    height: 32px;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .conflitos-entre-geracoes-button1 {
    height: 32px;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .conflitos-entre-geracoes-footer {
    flex-direction: column;
  }
  .conflitos-entre-geracoes-footer1 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .conflitos-entre-geracoes-container {
    background-color: #ffffff;
  }
  .conflitos-entre-geracoes-navbar {
    padding: var(--dl-space-space-doubleunit);
    position: relative;
    background-color: #C70D05;
  }
  .conflitos-entre-geracoes-heading {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.55;
    margin-left: var(--dl-space-space-doubleunit);
    letter-spacing: inherit;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .conflitos-entre-geracoes-burger-menu {
    width: 32px;
    height: 32px;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: #f7f7f7;
  }
  .conflitos-entre-geracoes-icon {
    fill: #C70D05;
    width: 32px;
    height: 32px;
    align-self: center;
  }
  .conflitos-entre-geracoes-container2 {
    height: 473px;
    margin-bottom: 0px;
  }
  .conflitos-entre-geracoes-text {
    top: 12%;
    left: 0px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
  }
  .conflitos-entre-geracoes-text01 {
    left: 38px;
    color: rgb(255, 255, 255);
    bottom: 2%;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
  }
  .conflitos-entre-geracoes-rectangle3 {
    width: 32px;
    bottom: 7%;
    height: 32px;
  }
  .conflitos-entre-geracoes-image {
    width: 45%;
  }
  .conflitos-entre-geracoes-rectangle31 {
    right: 56px;
    width: 32px;
    bottom: 7%;
    height: 32px;
  }
  .conflitos-entre-geracoes-image1 {
    width: 45%;
  }
  .conflitos-entre-geracoes-text02 {
    top: 385px;
    color: rgb(255, 255, 255);
    right: 15px;
    width: 60%;
    bottom: 2%;
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
  }
  .conflitos-entre-geracoes-rectangle32 {
    left: 0px;
    width: 32px;
    bottom: 0%;
    height: 32px;
  }
  .conflitos-entre-geracoes-text03 {
    top: 16%;
    left: 0px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-features {
    height: auto;
  }
  .conflitos-entre-geracoes-text04 {
    color: var(--dl-color-light_textcolor-body1);
    font-size: 18px;
    text-align: justify;
    line-height: 150%;
  }
  .conflitos-entre-geracoes-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .conflitos-entre-geracoes-container4 {
    flex: 1;
    width: 70%;
  }
  .conflitos-entre-geracoes-container5 {
    width: 100%;
  }
  .conflitos-entre-geracoes-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .conflitos-entre-geracoes-footer1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .conflitos-entre-geracoes-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .conflitos-entre-geracoes-logo {
    align-items: center;
  }
  .conflitos-entre-geracoes-text21 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .conflitos-entre-geracoes-heading {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: inherit;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .conflitos-entre-geracoes-container2 {
    background-position: top left;
  }
  .conflitos-entre-geracoes-text {
    top: 15%;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .conflitos-entre-geracoes-text01 {
    left: 32px;
    color: rgb(255, 255, 255);
    width: 100px;
    bottom: 29px;
    height: auto;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
  }
  .conflitos-entre-geracoes-rectangle3 {
    left: 32px;
    width: 24px;
    bottom: 59px;
    height: 24px;
  }
  .conflitos-entre-geracoes-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 45%;
    bottom: 0px;
    margin: auto;
  }
  .conflitos-entre-geracoes-rectangle31 {
    left: 0px;
    width: 24px;
    bottom: 60px;
    height: 24px;
  }
  .conflitos-entre-geracoes-image1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 45%;
    bottom: 0px;
    margin: auto;
  }
  .conflitos-entre-geracoes-text02 {
    top: 392px;
    left: 0px;
    color: rgb(255, 255, 255);
    width: auto;
    bottom: 4px;
    height: auto;
    position: absolute;
    font-size: 8px;
    font-style: normal;
    text-align: left;
    font-weight: 300;
  }
  .conflitos-entre-geracoes-rectangle32 {
    left: 0px;
    width: 24px;
    bottom: 24px;
    height: 24px;
  }
  .conflitos-entre-geracoes-text03 {
    top: var(--dl-space-space-tenunits);
    left: 0px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 28px;
    font-family: Arvo;
    font-weight: 400;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-text04 {
    color: var(--dl-color-light_textcolor-body1);
    font-size: 14px;
  }
  .conflitos-entre-geracoes-hero {
    height: 500px;
    min-width: 100%;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .conflitos-entre-geracoes-image2 {
    width: 60%;
    height: auto;
    margin: 0px;
    align-self: center;
  }
  .conflitos-entre-geracoes-container4 {
    width: 320px;
    height: 120px;
  }
  .conflitos-entre-geracoes-text15 {
    width: 80%;
    font-size: 32px;
    min-width: 80%;
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.22;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
  }
  .conflitos-entre-geracoes-container5 {
    width: 339px;
    height: 18px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .conflitos-entre-geracoes-btn-group {
    height: 33px;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: center;
  }
  .conflitos-entre-geracoes-button {
    width: 120px;
    height: 32px;
    margin-top: 0px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .conflitos-entre-geracoes-image3 {
    width: 15%;
  }
  .conflitos-entre-geracoes-text19 {
    color: var(--dl-color-light_textlinkcolor-white);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    line-height: 120%;
  }
  .conflitos-entre-geracoes-button1 {
    width: 120px;
    height: 32px;
    margin-top: 0px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .conflitos-entre-geracoes-image4 {
    width: 15%;
  }
  .conflitos-entre-geracoes-text20 {
    color: var(--dl-color-light_textlinkcolor-white);
    font-size: 12px;
    align-self: center;
    font-style: normal;
    font-family: Inter;
    line-height: 120%;
  }
  .conflitos-entre-geracoes-footer {
    padding: var(--dl-space-space-unit);
  }
  .conflitos-entre-geracoes-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .conflitos-entre-geracoes-container7 {
    align-items: center;
    flex-direction: column;
  }
  .conflitos-entre-geracoes-image5 {
    width: 40%;
  }
  .conflitos-entre-geracoes-text21 {
    font-size: 14px;
    margin-top: var(--dl-space-space-doubleunit);
    font-family: Arvo;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .conflitos-entre-geracoes-links-container {
    align-items: center;
    flex-direction: column;
  }
  .conflitos-entre-geracoes-container8 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .conflitos-entre-geracoes-icon4 {
    width: 20px;
    height: 20px;
  }
  .conflitos-entre-geracoes-icon6 {
    width: 20px;
    height: 20px;
  }
  .conflitos-entre-geracoes-text22 {
    font-size: 12px;
    align-self: center;
    text-align: center;
  }
}
