<div>
  <link href="./ex-membros.css" rel="stylesheet" />
  <div class="ex-membros-container">
    <div class="ex-membros-container1">
      <span class="ex-membros-text">Rafaela Rosa</span>
      <span class="ex-membros-text01">
        <span>Editor-Chefe</span>
        <br />
        <span>em 2022</span>
        <br />
      </span>
      <img
        src="https://lh3.google.com/u/2/d/1rASI9rFoi7vrYvx8Dfxql-i2enzf_RVw=w1365-h553-iv1"
        class="ex-membros-image-placeholder"
      />
    </div>
    <div class="ex-membros-container2">
      <span class="ex-membros-text06">Maraisa Miranda</span>
      <span class="ex-membros-text07">
        <span>Redatora e Colaboradora</span>
        <br />
        <span>em 2022</span>
      </span>
      <img
        alt="ImagePlaceholder1216"
        src="https://lh3.google.com/u/2/d/1s9Qc42aCItB-aXJt0Azg20i_FEayduu1=w2559-h812-iv1"
        class="ex-membros-image-placeholder1"
      />
    </div>
    <div class="ex-membros-container3">
      <span class="ex-membros-text11">Júlia Vitor</span>
      <span class="ex-membros-text12">
        <span>Editora e Colaboradora</span>
        <br />
        <span>em 2022</span>
      </span>
      <img
        alt="ImagePlaceholder1216"
        src="https://lh3.google.com/u/2/d/1oorL8slzq_4S-rKm672y3GY7czEl94kP=w2559-h812-iv1"
        class="ex-membros-image-placeholder2"
      />
    </div>
    <div class="ex-membros-container4">
      <span class="ex-membros-text16">Otávio Queiroz</span>
      <span class="ex-membros-text17">
        <span>Redator e Repórter</span>
        <br />
        <span>em 2022</span>
      </span>
      <img
        alt="ImagePlaceholder1216"
        src="https://lh3.google.com/u/2/d/10ZNZGFBb1-wJaWce_k96YroWi0Q3TDV5=w2559-h812-iv1"
        class="ex-membros-image-placeholder3"
      />
    </div>
    <div class="ex-membros-container5">
      <span class="ex-membros-text21">Carla Fernanda</span>
      <span class="ex-membros-text22">
        <span class="ex-membros-text23">Fotógrafa e Ilustradora</span>
        <br />
        <span>em 2022</span>
        <br />
      </span>
      <div class="ex-membros-image-placeholder4"></div>
    </div>
  </div>
</div>
