<div>
  <link href="./membros.css" rel="stylesheet" />
  <div class="membros-container">
    <div class="membros-container1">
      <span class="membros-text">Sandro Filho</span>
      <span class="membros-text01">
        <span>Editor-Chefe</span>
        <br />
      </span>
      <div class="membros-image-placeholder"></div>
    </div>
    <div class="membros-container2">
      <span class="membros-text04">Layane Araújo</span>
      <span class="membros-text05">Gestora de Redes Sociais</span>
      <div class="membros-image-placeholder1"></div>
    </div>
    <div class="membros-container3">
      <span class="membros-text06">João Paulo</span>
      <span class="membros-text07">Editor de Cultura e Ilustrador</span>
      <div class="membros-image-placeholder2"></div>
    </div>
    <div class="membros-container4">
      <span class="membros-text08">Welington Ferreira</span>
      <span class="membros-text09">Redator e Repórter</span>
      <div class="membros-image-placeholder3"></div>
    </div>
    <div class="membros-container5">
      <span class="membros-text10">Milena Bruna</span>
      <span class="membros-text11">Escritora e Colaboradora</span>
      <div class="membros-image-placeholder4"></div>
    </div>
    <div class="membros-container6">
      <span class="membros-text12">Kamilly Ester</span>
      <span class="membros-text13">Repórter e Editora</span>
      <div class="membros-image-placeholder5"></div>
    </div>
    <div class="membros-container7">
      <span class="membros-text14">Bruna Santos</span>
      <span class="membros-text15">Fotografa</span>
      <div class="membros-image-placeholder6"></div>
    </div>
    <div class="membros-container8">
      <span class="membros-text16">Amanda Neves</span>
      <span class="membros-text17">Escritora e Repórter</span>
      <div class="membros-image-placeholder7"></div>
    </div>
  </div>
</div>
