<div>
  <link href="./publicacoes-mais-recentes.css" rel="stylesheet" />
  <div class="publicacoes-mais-recentes-container">
    <a
      href="reflexao-sobre-o-filme-bacurau.html"
      class="publicacoes-mais-recentes-navlink"
    >
      <div class="publicacoes-mais-recentes-container1">
        <span class="publicacoes-mais-recentes-text">Sandro Filho</span>
        <span class="publicacoes-mais-recentes-text01">
          Reflexão sobre o filme &quot;Bacurau&quot; e o armamento da população
        </span>
        <span class="publicacoes-mais-recentes-text02">
          O filme Bacurau se passa em uma pequena cidade fictícia do sertão
          brasileiro, onde os moradores começam a notar eventos estranhos e
          sinistros acontecendo. Logo eles descobrem que estão sendo alvo de uma
          caçada organizada por um grupo de estrangeiros. O filme é uma
          mistura...
        </span>
        <div class="publicacoes-mais-recentes-ilustation"></div>
        <div class="publicacoes-mais-recentes-ilustation01"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date">
          <span class="publicacoes-mais-recentes-text03">
            Editorial - 08/04/23
          </span>
        </div>
      </div>
    </a>
    <a href="esforcos-coroados.html" class="publicacoes-mais-recentes-navlink1">
      <div class="publicacoes-mais-recentes-container2">
        <span class="publicacoes-mais-recentes-text04">Layane Araújo</span>
        <span class="publicacoes-mais-recentes-text05">
          Esforços coroados de êxito: 1° formatura da E.E.E.M
        </span>
        <span class="publicacoes-mais-recentes-text06">
          Nos dias 08 e 09/12/2022, marcou-se o fim da jornada das primeiras
          turmas dos cursos de ensino médio integrados aos cursos técnicos de
          Açúcar e Álcool e Celulose e Papel da Escola Estadual de Ensino Médio.
          E o Jornal Fala, Protagonista! encarregou-se de cobrir a primeira...
        </span>
        <div class="publicacoes-mais-recentes-ilustation02"></div>
        <div class="publicacoes-mais-recentes-ilustation03"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date1">
          <span class="publicacoes-mais-recentes-text07">
            Reportagem - 11/12/22
          </span>
        </div>
      </div>
    </a>
    <a
      href="primeiros-socorros.html"
      class="publicacoes-mais-recentes-navlink2"
    >
      <div class="publicacoes-mais-recentes-container3">
        <span class="publicacoes-mais-recentes-text08">Kamilly Ester</span>
        <span class="publicacoes-mais-recentes-text09">
          Primeiros socorros na escola
        </span>
        <span class="publicacoes-mais-recentes-text10">
          Quando falamos sobre primeiros socorros, é forçoso reconhecer que
          muitos não sabem o que fazer em uma situação de emergência... No dia
          09 de março, presenciamos um ataque de convulsão sofrido por um dos
          alunos do 3° ano; diante disso, esse assunto veio a ser pauta de
          debates, pois...
        </span>
        <div class="publicacoes-mais-recentes-ilustation04"></div>
        <div class="publicacoes-mais-recentes-ilustation05"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date2">
          <span class="publicacoes-mais-recentes-text11">
            Texto de Opinião- 16/03/23
          </span>
        </div>
      </div>
    </a>
    <a
      href="desastres-naturais.html"
      class="publicacoes-mais-recentes-navlink3"
    >
      <div class="publicacoes-mais-recentes-container4">
        <span class="publicacoes-mais-recentes-text12">Milena Bruna</span>
        <span class="publicacoes-mais-recentes-text13">Desastres naturais</span>
        <span class="publicacoes-mais-recentes-text14">
          É comum, no Brasil, em certas épocas do ano, acontecerem tragédias -
          como enchentes e deslizamentos de terra-, causadas pela forte
          densidade das chuvas. O litoral norte de São Paulo, por exemplo, foi
          vítima de um deslizamento de terra, ocorrido no dia 18 de fevereiro
          de...
        </span>
        <div class="publicacoes-mais-recentes-ilustation06"></div>
        <div class="publicacoes-mais-recentes-ilustation07"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date3">
          <span class="publicacoes-mais-recentes-text15">
            Texto de Opinião - 02/04/23
          </span>
        </div>
      </div>
    </a>
    <a href="arte-digital.html" class="publicacoes-mais-recentes-navlink4">
      <div class="publicacoes-mais-recentes-container5">
        <span class="publicacoes-mais-recentes-text16">João Paulo</span>
        <span class="publicacoes-mais-recentes-text17">
          A arte digital e seus impactos sociais
        </span>
        <span class="publicacoes-mais-recentes-text18">
          A arte é a principal forma de expressão do ser humano e está presente
          nas nossas sociedades desde a era das cavernas, com as pinturas
          rupestres, por exemplo. No entanto, com o avançar dos tempos, essa
          manifestação também foi evoluindo junto com a humanidade, até que...
        </span>
        <div class="publicacoes-mais-recentes-ilustation08"></div>
        <div class="publicacoes-mais-recentes-ilustation09"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date4">
          <span class="publicacoes-mais-recentes-text19">
            Texto de Opinião - 19/05/23
          </span>
        </div>
      </div>
    </a>
    <a
      href="conflitos-entre-geracoes.html"
      class="publicacoes-mais-recentes-navlink5"
    >
      <div class="publicacoes-mais-recentes-container6">
        <span class="publicacoes-mais-recentes-text20">Carla Fernanda</span>
        <span class="publicacoes-mais-recentes-text21">
          <span>Conflito entre gerações: rebeldia ou opressão?</span>
          <br class="publicacoes-mais-recentes-text23" />
          <br />
        </span>
        <span class="publicacoes-mais-recentes-text25">
          Desde de que nos entendemos por gente, a relação entre gerações é
          conturbada, marcada por expressões como: “ah, eu sou mais velho” ou
          “meus pais não me entendem”. Isso acaba sendo desgastante para a
          convivência, principalmente dentro da família, na qual os pais,
          mesmo...
        </span>
        <div class="publicacoes-mais-recentes-ilustation10"></div>
        <div class="publicacoes-mais-recentes-ilustation11"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date5">
          <span class="publicacoes-mais-recentes-text26">
            Texto de Opinião - 23/08/22
          </span>
        </div>
      </div>
    </a>
    <a
      href="bicentenario-da-independencia.html"
      class="publicacoes-mais-recentes-navlink6"
    >
      <div class="publicacoes-mais-recentes-container7">
        <span class="publicacoes-mais-recentes-text27">Sandro Filho</span>
        <span class="publicacoes-mais-recentes-text28">
          200 anos de busca pela independência e pelo progresso
        </span>
        <span class="publicacoes-mais-recentes-text29">
          Durante o século XVI, o território brasileiro foi dividido em um
          sistema de capitânias hereditárias, pois os portugueses tinham medo de
          perder as terras para outros europeus, que já estavam negociando com
          os indígenas para se fixarem neste solo. Porém, os donos, chamados
          de...
        </span>
        <div class="publicacoes-mais-recentes-ilustation12"></div>
        <div class="publicacoes-mais-recentes-ilustation13"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date6">
          <span class="publicacoes-mais-recentes-text30">
            Editorial - 07/09/22
          </span>
        </div>
      </div>
    </a>
    <a href="o-sentido-da-vida.html" class="publicacoes-mais-recentes-navlink7">
      <div class="publicacoes-mais-recentes-container8">
        <span class="publicacoes-mais-recentes-text31">Sandro Filho</span>
        <span class="publicacoes-mais-recentes-text32">
          Tudo em todo o lugar ao mesmo tempo: o sentido da vida
        </span>
        <span class="publicacoes-mais-recentes-text33">
          O filme Tudo em todo lugar ao mesmo tempo, dirigido por Daniel Kwan e
          Daniel Scheinert, traz à tona um questionamento: “e se…”, muito comum
          para adultos que refletem sobre as escolhas que tomaram durante seu
          percurso, e para adolescentes que estão na fase de tomar...
        </span>
        <div class="publicacoes-mais-recentes-ilustation14"></div>
        <div class="publicacoes-mais-recentes-ilustation15"></div>
        <div class="publicacoes-mais-recentes-type-of-text-and-date7">
          <span class="publicacoes-mais-recentes-text34">
            Resenha - 22/07/22
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
