<div>
  <link href="./todas-publicacoes.css" rel="stylesheet" />
  <div class="todas-publicacoes-container">
    <a
      href="reflexao-sobre-o-filme-bacurau.html"
      class="todas-publicacoes-navlink"
    >
      <div class="todas-publicacoes-container01">
        <span class="todas-publicacoes-text">Sandro Filho</span>
        <span class="todas-publicacoes-text01">
          Reflexão sobre o filme &quot;Bacurau&quot; e o armamento da população
        </span>
        <span class="todas-publicacoes-text02">
          O filme Bacurau se passa em uma pequena cidade fictícia do sertão
          brasileiro, onde os moradores começam a notar eventos estranhos e
          sinistros acontecendo. Logo eles descobrem que estão sendo alvo de uma
          caçada organizada por um grupo de estrangeiros. O filme é uma
          mistura...
        </span>
        <div class="todas-publicacoes-ilustation"></div>
        <div class="todas-publicacoes-ilustation01"></div>
        <div class="todas-publicacoes-type-of-text-and-date">
          <span class="todas-publicacoes-text03">Editorial - 08/04/23</span>
        </div>
      </div>
    </a>
    <a href="esforcos-coroados.html" class="todas-publicacoes-navlink01">
      <div class="todas-publicacoes-container02">
        <span class="todas-publicacoes-text04">Layane Araújo</span>
        <span class="todas-publicacoes-text05">
          Esforços coroados de êxito: 1° formatura da E.E.E.M
        </span>
        <span class="todas-publicacoes-text06">
          Nos dias 08 e 09/12/2022, marcou-se o fim da jornada das primeiras
          turmas dos cursos de ensino médio integrados aos cursos técnicos de
          Açúcar e Álcool e Celulose e Papel da Escola Estadual de Ensino Médio.
          E o Jornal Fala, Protagonista! encarregou-se de cobrir a primeira...
        </span>
        <div class="todas-publicacoes-ilustation02"></div>
        <div class="todas-publicacoes-ilustation03"></div>
        <div class="todas-publicacoes-type-of-text-and-date01">
          <span class="todas-publicacoes-text07">Reportagem - 11/12/22</span>
        </div>
      </div>
    </a>
    <a href="primeiros-socorros.html" class="todas-publicacoes-navlink02">
      <div class="todas-publicacoes-container03">
        <span class="todas-publicacoes-text08">Kamilly Ester</span>
        <span class="todas-publicacoes-text09">
          Primeiros socorros na escola
        </span>
        <span class="todas-publicacoes-text10">
          Quando falamos sobre primeiros socorros, é forçoso reconhecer que
          muitos não sabem o que fazer em uma situação de emergência... No dia
          09 de março, presenciamos um ataque de convulsão sofrido por um dos
          alunos do 3° ano; diante disso, esse assunto veio a ser pauta de
          debates, pois...
        </span>
        <div class="todas-publicacoes-ilustation04"></div>
        <div class="todas-publicacoes-ilustation05"></div>
        <div class="todas-publicacoes-type-of-text-and-date02">
          <span class="todas-publicacoes-text11">
            Texto de Opinião- 16/03/23
          </span>
        </div>
      </div>
    </a>
    <a href="desastres-naturais.html" class="todas-publicacoes-navlink03">
      <div class="todas-publicacoes-container04">
        <span class="todas-publicacoes-text12">Milena Bruna</span>
        <span class="todas-publicacoes-text13">Desastres naturais</span>
        <span class="todas-publicacoes-text14">
          É comum, no Brasil, em certas épocas do ano, acontecerem tragédias -
          como enchentes e deslizamentos de terra-, causadas pela forte
          densidade das chuvas. O litoral norte de São Paulo, por exemplo, foi
          vítima de um deslizamento de terra, ocorrido no dia 18 de fevereiro
          de...
        </span>
        <div class="todas-publicacoes-ilustation06"></div>
        <div class="todas-publicacoes-ilustation07"></div>
        <div class="todas-publicacoes-type-of-text-and-date03">
          <span class="todas-publicacoes-text15">
            Texto de Opinião - 02/04/23
          </span>
        </div>
      </div>
    </a>
    <a href="arte-digital.html" class="todas-publicacoes-navlink04">
      <div class="todas-publicacoes-container05">
        <span class="todas-publicacoes-text16">João Paulo</span>
        <span class="todas-publicacoes-text17">
          A arte digital e seus impactos sociais
        </span>
        <span class="todas-publicacoes-text18">
          A arte é a principal forma de expressão do ser humano e está presente
          nas nossas sociedades desde a era das cavernas, com as pinturas
          rupestres, por exemplo. No entanto, com o avançar dos tempos, essa
          manifestação também foi evoluindo junto com a humanidade, até que...
        </span>
        <div class="todas-publicacoes-ilustation08"></div>
        <div class="todas-publicacoes-ilustation09"></div>
        <div class="todas-publicacoes-type-of-text-and-date04">
          <span class="todas-publicacoes-text19">
            Texto de Opinião - 19/05/23
          </span>
        </div>
      </div>
    </a>
    <a href="conflitos-entre-geracoes.html" class="todas-publicacoes-navlink05">
      <div class="todas-publicacoes-container06">
        <span class="todas-publicacoes-text20">Carla Fernanda</span>
        <span class="todas-publicacoes-text21">
          <span>Conflito entre gerações: rebeldia ou opressão?</span>
          <br class="todas-publicacoes-text23" />
          <br />
        </span>
        <span class="todas-publicacoes-text25">
          Desde de que nos entendemos por gente, a relação entre gerações é
          conturbada, marcada por expressões como: “ah, eu sou mais velho” ou
          “meus pais não me entendem”. Isso acaba sendo desgastante para a
          convivência, principalmente dentro da família, na qual os pais,
          mesmo...
        </span>
        <div class="todas-publicacoes-ilustation10"></div>
        <div class="todas-publicacoes-ilustation11"></div>
        <div class="todas-publicacoes-type-of-text-and-date05">
          <span class="todas-publicacoes-text26">
            Texto de Opinião - 23/08/22
          </span>
        </div>
      </div>
    </a>
    <a
      href="bicentenario-da-independencia.html"
      class="todas-publicacoes-navlink06"
    >
      <div class="todas-publicacoes-container07">
        <span class="todas-publicacoes-text27">Sandro Filho</span>
        <span class="todas-publicacoes-text28">
          200 anos de busca pela independência e pelo progresso
        </span>
        <span class="todas-publicacoes-text29">
          Durante o século XVI, o território brasileiro foi dividido em um
          sistema de capitânias hereditárias, pois os portugueses tinham medo de
          perder as terras para outros europeus, que já estavam negociando com
          os indígenas para se fixarem neste solo. Porém, os donos, chamados
          de...
        </span>
        <div class="todas-publicacoes-ilustation12"></div>
        <div class="todas-publicacoes-ilustation13"></div>
        <div class="todas-publicacoes-type-of-text-and-date06">
          <span class="todas-publicacoes-text30">Editorial - 07/09/22</span>
        </div>
      </div>
    </a>
    <a href="o-sentido-da-vida.html" class="todas-publicacoes-navlink07">
      <div class="todas-publicacoes-container08">
        <span class="todas-publicacoes-text31">Sandro Filho</span>
        <span class="todas-publicacoes-text32">
          Tudo em todo o lugar ao mesmo tempo: o sentido da vida
        </span>
        <span class="todas-publicacoes-text33">
          O filme Tudo em todo lugar ao mesmo tempo, dirigido por Daniel Kwan e
          Daniel Scheinert, traz à tona um questionamento: “e se…”, muito comum
          para adultos que refletem sobre as escolhas que tomaram durante seu
          percurso, e para adolescentes que estão na fase de tomar...
        </span>
        <div class="todas-publicacoes-ilustation14"></div>
        <div class="todas-publicacoes-ilustation15"></div>
        <div class="todas-publicacoes-type-of-text-and-date07">
          <span class="todas-publicacoes-text34">Resenha - 22/07/22</span>
        </div>
      </div>
    </a>
    <a href="aborto.html" class="todas-publicacoes-navlink08">
      <div class="todas-publicacoes-container09">
        <span class="todas-publicacoes-text35">Layane Araújo</span>
        <span class="todas-publicacoes-text36">
          Aborto: visões de um mar morto
        </span>
        <span class="todas-publicacoes-text37">
          Bastante discutido atualmente, o tema aborto tem sido pauta de muitos
          noticiários e vem ganhando destaque cada vez maior nas mídias. Em
          virtude disso, é possível analisar várias opiniões divergentes, as
          quais conseguem apoiadores e defensores e despertam engajamentos em
          ...           
        </span>
        <div class="todas-publicacoes-ilustation16"></div>
        <div class="todas-publicacoes-ilustation17"></div>
        <div class="todas-publicacoes-type-of-text-and-date08">
          <span class="todas-publicacoes-text38">
            Texto de Opinião - 09/09/22
          </span>
        </div>
      </div>
    </a>
    <a href="consciencia-negra.html" class="todas-publicacoes-navlink09">
      <div class="todas-publicacoes-container10">
        <span class="todas-publicacoes-text39">Carla Fernanda</span>
        <span class="todas-publicacoes-text40">Dia da Consciência Negra</span>
        <span class="todas-publicacoes-text41">
          Em 29 de novembro, é comemorado o Dia da Consciência Negra. Trata-se
          de uma ocasião muito importante para lembrar das origens negras e de
          um passado manchado pela escravidão, que gerou uma dívida histórica
          com os afrodescendentes, a ser reparada pelo Brasil...
        </span>
        <div class="todas-publicacoes-ilustation18"></div>
        <div class="todas-publicacoes-ilustation19"></div>
        <div class="todas-publicacoes-type-of-text-and-date09">
          <span class="todas-publicacoes-text42">
            Texto de Opinião - 03/11/22
          </span>
        </div>
      </div>
    </a>
    <a
      href="premio-triangulo-comunicacao.html"
      class="todas-publicacoes-navlink10"
    >
      <div class="todas-publicacoes-container11">
        <span class="todas-publicacoes-text43">Layane Araújo</span>
        <span class="todas-publicacoes-text44">
          Clube do jornal Fala, protagonista! recebe premiação do Prêmio...
        </span>
        <span class="todas-publicacoes-text45">
          No dia 11 de agosto de 2022, ocorreu a entrega do Prêmio Triângulo de
          Comunicação, um evento promovido pelo curso de jornalismo da
          Universidade Federal de Uberlândia (UFU). Na ocasião, o clube do
          jornal: Fala, protagonista! foi condecorado na categoria Revelação.
          Criado...
        </span>
        <div class="todas-publicacoes-ilustation20"></div>
        <div class="todas-publicacoes-ilustation21"></div>
        <div class="todas-publicacoes-type-of-text-and-date10">
          <span class="todas-publicacoes-text46">Reportagem - 13/08/22</span>
        </div>
      </div>
    </a>
    <a href="machismo-e-vulgaridade.html" class="todas-publicacoes-navlink11">
      <div class="todas-publicacoes-container12">
        <span class="todas-publicacoes-text47">Layane Araújo</span>
        <span class="todas-publicacoes-text48">
          A linha tênue entre Machismo e Vulgaridade no Âmbito Escolar
        </span>
        <span class="todas-publicacoes-text49">
          Em primeiro lugar, questiono se um texto de uma garota de dezesseis
          anos seria capaz de mudar um contexto vivido desde a existência de sua
          tataravó. Na tentativa de explicar o óbvio, surge um medo, o de
          vivenciar outra vez uma frustrante tentativa de conquistar a liberdade
          feminina...
        </span>
        <div class="todas-publicacoes-ilustation22"></div>
        <div class="todas-publicacoes-ilustation23"></div>
        <div class="todas-publicacoes-type-of-text-and-date11">
          <span class="todas-publicacoes-text50">
            Texto de Opinião - 26/04/22
          </span>
        </div>
      </div>
    </a>
    <a href="espirito-esportivo.html" class="todas-publicacoes-navlink12">
      <div class="todas-publicacoes-container13">
        <span class="todas-publicacoes-text51">Sandro Filho</span>
        <span class="todas-publicacoes-text52">
          Espírito Esportivo: Uma resenha sobre o JEMG
        </span>
        <span class="todas-publicacoes-text53">
          O esporte tornou-se presente no cotidiano dos alunos, há muito tempo,
          principalmente pela matéria “Educação Física” nas grades curriculares
          das escolas brasileiras. Isso possibilita uma aprendizagem menos
          monótona e mais ativa, pois a prática do esporte tem um caráter
          pedagógico...
        </span>
        <div class="todas-publicacoes-ilustation24"></div>
        <div class="todas-publicacoes-ilustation25"></div>
        <div class="todas-publicacoes-type-of-text-and-date12">
          <span class="todas-publicacoes-text54">Editorial - 20/04/22</span>
        </div>
      </div>
    </a>
    <a href="o-sentido-da-vida.html" class="todas-publicacoes-navlink13">
      <div class="todas-publicacoes-container14">
        <span class="todas-publicacoes-text55">Otávio Queiroz</span>
        <span class="todas-publicacoes-text56">
          <span>Divulgando a ciência: O poder medicinal das plantas</span>
          <br />
        </span>
        <span class="todas-publicacoes-text59">
          As plantas são extremamente utilizadas na medicina, desde os
          primórdios da humanidade, os povos antigos usavam plantas para fazerem
          chás e pomadas. Esses costumes permanecem até os dias atuais. Um
          exemplo disso são os chás que nossas avós fazem para nós quando
          ficamos...
        </span>
        <div class="todas-publicacoes-ilustation26"></div>
        <div class="todas-publicacoes-ilustation27"></div>
        <div class="todas-publicacoes-type-of-text-and-date13">
          <span class="todas-publicacoes-text60">
            Artigo Expositivo - 13/04/22
          </span>
        </div>
      </div>
    </a>
    <a href="docura.html" class="todas-publicacoes-navlink14">
      <div class="todas-publicacoes-container15">
        <span class="todas-publicacoes-text61">Maraisa Miranda</span>
        <span class="todas-publicacoes-text62">
          Divulgando a Ciência: Doçura
        </span>
        <span class="todas-publicacoes-text63">
          <span>
            O sistema agrícola é o que move o Brasil hoje, principalmente quando
            se trata de alimentos. Diante disso, falaremos sobre a
            cana-de-açúcar e sobre sua relação com a fotossíntese. Então, que
            tal conhecer um pouco sobre o desenvolvimento dessa plantinha tão
            importante para nossa vida?...
          </span>
          <br />
        </span>
        <div class="todas-publicacoes-ilustation28"></div>
        <div class="todas-publicacoes-ilustation29"></div>
        <div class="todas-publicacoes-type-of-text-and-date14">
          <span class="todas-publicacoes-text66">
            Artigo Expositivo - 27/03/22
          </span>
        </div>
      </div>
    </a>
    <a href="vidrarias.html" class="todas-publicacoes-navlink15">
      <div class="todas-publicacoes-container16">
        <span class="todas-publicacoes-text67">Júlia Vitor</span>
        <span class="todas-publicacoes-text68">
          Divulgando a Ciência: Vidrarias
        </span>
        <span class="todas-publicacoes-text69">
          Você já deve ter visto, em desenhos animados como “A turma da Mônica”
          ou “Meninas superpoderosas”, cientistas como o Franjinha e o professor
          Utônio fazendo experiências incríveis em seus laboratórios. Eles
          sempre usam inúmeras vidrarias e substâncias químicas misteriosas...
        </span>
        <div class="todas-publicacoes-ilustation30"></div>
        <div class="todas-publicacoes-ilustation31"></div>
        <div class="todas-publicacoes-type-of-text-and-date15">
          <span class="todas-publicacoes-text70">
            Artigo Expositivo -  19/03/22
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
